{% extends 'emails/_layout.html.twig' %}

{% block title %}
    {{ 'New comment on ticket %ticketId%'|trans({ '%ticketId%': ticket.id}) }}
{% endblock %}

{% block content %}
    <p class="greeting">{{ 'Hello'|trans }} <strong>{{ recipient.name }}</strong>,</p>

    <p>{{ 'A new comment has been added to ticket'|trans }} <strong>#{{ ticket.id }}</strong>.</p>

    <div class="info-box">
        <h2>Ticket #{{ ticket.id }}: {{ ticket.title }}</h2>
        <p><strong>{{ 'Organization:'|trans }}</strong> {{ ticket.organization.name }}</p>
        <p>
            <strong>{{ 'Status:'|trans }}</strong>
            <span class="badge badge-status">{{ ticket.status.name }}</span>
        </p>
        <p><strong>{{ 'Comment author:'|trans }}</strong> {{ comment.author.name }}</p>
        <p><strong>{{ 'Date:'|trans }}</strong> {{ comment.createdAt|date('m/d/Y at H:i') }}</p>

        <p><strong>{{ 'Comment:'|trans }}</strong></p>
        <div class="description">{{ comment.content|markdown_to_html|raw }}</div>
    </div>

    <a href="{{ url('app_ticket_show', {organizationSlug: ticket.organization.slug, ticketId: ticket.id}) }}" class="button">
        {{ 'View ticket'|trans }}
    </a>
{% endblock %}
