{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

<div class="row g-3">
    {# First Name #}
    <div class="col-md-6">
        {{ form_label(form.firstName, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Enter your first name'|trans}}) }}
        {{ form_errors(form.firstName) }}
    </div>

    {# Last Name #}
    <div class="col-md-6">
        {{ form_label(form.lastName, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Enter your last name'|trans}}) }}
        {{ form_errors(form.lastName) }}
    </div>

    {# Submit Button #}
    <div class="col-12">
        <div class="d-flex gap-2 pt-3">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="bi bi-check-circle me-1"></i>
                {{ 'Update Profile'|trans }}
            </button>
            <a href="{{ path('app_home') }}" class="btn btn-outline-secondary btn-lg">
                <i class="bi bi-x-circle me-1"></i>
                {{ 'Cancel'|trans }}
            </a>
        </div>
    </div>
</div>

{{ form_end(form) }}
